@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  color: hsl(229, 23%, 23%);
}

p {
  font-size: 15px;
  color: hsl(0, 0%, 59%);
}

.main--container {
  width: inherit;
  height: inherit;
  background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: -100% 150%, 200% -70%;
  background-color: hsl(185, 75%, 39%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 350px;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;

  @media screen and (max-width: 450px) {
    width: 300px;
  }
}

.card--top-bg {
  img {
    height: 100%;
  }
}

.card--profile {
  border-bottom: 1px solid hsla(0, 0%, 59%, 0.377);

  .card--profile-img {
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    position: absolute;
    img {
      border-radius: 50%;
      border: 5px solid white;
    }
  }
  .name {
    margin-top: 4rem;
    margin-bottom: 0.5rem;

    strong {
      color: hsl(229, 23%, 23%);
    }
    p {
      font-size: 18px;
    }
  }
  .location {
    margin-bottom: 1.5rem;
  }
}

.card--social-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;

  margin: 2rem;
}
